.Farme {
    width: 1400px;
    height: 900px;
  }

  .columna {
    position: relative;
    top: -400px; /* Mueve toda la columna de ataque hacia arriba */
    margin-left: 450px;
    display: flex;
    flex-direction: column; /* Acomoda los elementos en vertical */
    
    gap: 10px;
  }
  
  .columna2 {
    position: relative;
    top: -500px; /* Mueve toda la columna de ataque hacia arriba */
    margin-left: 500px;
    display: flex;
    flex-direction: column; /* Acomoda los elementos en vertical */
    align-items: center;    /* Centra los dados horizontalmente (opcional) */
  }

  button {
    position: relative;
    top: -200px; /* Mueve el botón 20px hacia arriba */
    margin-left: 650px;
  }