/* Hace que la imagen ocupe toda la pantalla */
.Farme {
  width: 100%; /* La imagen ocupará todo el ancho de la pantalla */
  height: 100vh; /* La imagen ocupará toda la altura de la pantalla */
  object-fit: cover; /* La imagen cubrirá toda el área sin distorsionarse */
  position: absolute; /* Hace que la imagen quede detrás del contenido */
  top: 0; /* Alinea la imagen al principio de la pantalla */
  left: 0; /* Alinea la imagen al lado izquierdo de la pantalla */
  z-index: -1; /* Asegura que la imagen esté detrás del contenido */
}
.columna { display: flex;
  flex-direction: column;
margin-left: 500px;
margin-top: 300px;}
.columna2{margin-left: 900px;
 display: flex;
  flex-direction: column;
margin-top: -60px;}

/* Botón de cerrar (usa la imagen 'Cruz de cerrar.png') */
.close-btn {
  display: inline-block;
  width: 48px; /* tamaño reducido */
  height: 48px; /* tamaño reducido */
  background-image: url("Imágenes/Cruz de cerrar.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; /* ajusta la imagen dentro del área */
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none; /* para que el <a> no se vea subrayado */
  position: relative;
  top: -150px; /* mueve el botón 30px hacia arriba; ajusta este valor si quieres más/menos */
  margin-left: 400px;
}
