body {
   
   
     background-color: #012F1C;
}


h1{color: red;}
.Farme{
    width: 1355px;
    height: 670px;
    margin-left: -10px;
    margin-top: -10px;
  }
  header{margin-top: -650px;
    margin-left: 50px; }
.USA {
  position: absolute;
  top: 350px;     
  left: 269px;
  background-color: transparent;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 4px 8px;
  cursor: pointer;
  width: 20px;      
  height: 25px;   
  z-index: 2;    
}

.Canadá {
  position: absolute;
  top: 230px;     
  left: 260px;
  background-color: transparent;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 5px 10px;
  cursor: pointer;
  z-index: 2; 
}

.México {
  position: absolute;
  top: 385px;     
  left: 360px;
  background-color: transparent;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 800px;
  padding: 5px 10px;
  cursor: pointer;
   font-size: 10px; 
   transform: rotate(20deg);
   z-index: 2; 
  }
.Argentina{
  position: absolute;
  top: 530px;     
  left: 490px;
  background-color:transparent;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 10px; 
  width: 10px;       
  height: 10px; 
  transform: rotate(-90deg);
  z-index: 2; 
}

.Brasil{   
  position: absolute;
  top: 430px;     
  left: 550px;
  background-color: transparent;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 10px; 
  width: 10px;       
  height: 10px; 
  z-index: 2; 
}
  
 
 .Uruguay{    
  position: absolute;
  top: 475px;     
  left: 550px;
  background-color: transparent;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 10px; 
  width: 10px;       
  height: 10px; 
  position: absolute;
  z-index: 2;
}
  
.Egipto{
  position: absolute;
  top: 455px;     
  left: 930px;
  background-color: transparent;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 10px; 
  width: 10px;       
  height: 10px; 
  position: absolute;
  z-index: 2;
}
  
.Etiopía{
  position: absolute;
  top: 480px;     
  left: 900px;
  background-color: transparent;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 10px; 
  width: 10px;       
  height: 10px; 
  position: absolute;
  z-index: 2;
}
  
.Sudáfrica{
  position: absolute;
  top: 530px;     
  left: 900px;
  background-color: transparent;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 10px; 
  width: 10px;       
  height: 10px; 
  position: absolute;
  z-index: 2;
}

.Australia{
  position: absolute;
  top: 500px;     
  left: 1150px;
  background-color: transparent;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 10px; 
  width: 10px;       
  height: 10px; 
  position: absolute;
  z-index: 2;
}
  
.Granbretaña{
  position: absolute;
  top: 335px;     
  left: 710px;
  background-color: transparent;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 7px; 
    width: 7px;       
  height: 7px; 
  transform: rotate(340deg);
  position: absolute;
  z-index: 2;
}
  
.España{
  position: absolute;
  top: 405px;     
  left: 700px;
  background-color: transparent;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 7px; 
  width: 7px;       
  height: 7px; 
  transform: rotate(340deg);
  position: absolute;
  z-index: 2;
}
  
.Francia{
  position: absolute;
  top: 370px;     
  left: 770px;
  background-color: transparent;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 7px; 
  width: 7px;       
  height: 7px; 
  transform: rotate(340deg);
  position: absolute;
  z-index: 2;
}
  
.Alemania{position: absolute;
  top: 350px;     
  left: 830px;
  background-color: transparent;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 7px; 
  width: 7px;       
  height: 7px; 
  position: absolute;
  z-index: 2;
}
  
.Italia{
  position: absolute;
  top: 400px;     
  left: 840px;
  background-color: transparent;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 7px; 
  width: 7px;       
  height: 7px; 
  position: absolute;
  z-index: 2;
}
  
.Rusia{
  position: absolute;
  top: 290px;     
  left: 900px;
  background-color: transparent;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 15px; 
  width: 7px;       
  height: 7px; 
  position: absolute;
  z-index: 2;
}
  
.Japón{
  position: absolute;
  top: 255px;     
  left: 1170px;
  background-color: transparent;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 6px; 
  width: 6px;       
  height: 6px; 
  transform: rotate(46deg);
  position: absolute;
  z-index: 2;
}
  
.China{
  position: absolute;
  top: 300px;     
  left: 1100px;
  background-color: transparent;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 20px; 
  width: 20px;       
  height: 20px; 
  position: absolute;
  z-index: 2;
}
  
.India{
  position: absolute;
  top: 380px;     
  left: 1090px;
  background-color: transparent;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 10px; 
  width: 10px;       
  height: 10px; 
  position: absolute;
  z-index: 2;
}
  
.Armenia{
  position: absolute;
  top: 410px;     
  left: 990px;
  background-color: transparent;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 10px; 
  width: 10px;       
  height: 10px; 
  position: absolute;
  z-index: 2;
}

.imgUSA{
  position: absolute;
  margin-top: 225px;
  margin-left:264px;
  width: 28px;
  height: 28px;
  z-index: 1;
}

.imgCanadá{
  position: absolute;
  top: 229px;     
  left: 317px;
  width: 28px;
  height: 28px;
  z-index: 1;
}

.imgMéxico{
  margin-top: 254px;
  margin-left:391px;
  width: 25px;
  height: 25px;
  z-index: 1;
}

.imgBrasil{
  position: absolute;
  top: 441px;     
  left: 554px;
  width: 25px;
  height: 25px;
  z-index: 1;
}
.imgArgentina{
  position: absolute;
  top: 516px;     
  left: 506px;
  width: 25px;
  height: 25px;
  z-index: 1;
}
.imgUruguay{
  position: absolute;
  top: 488px;     
  left: 556px;
  width: 20px;
  height: 20px;
  z-index: 1;
}
.imgEgipto{
  position: absolute;
  top: 467px;     
  left: 936px;
  width: 20px;
  height: 20px;
  z-index: 1;
}
.imgEtiopía{
  position: absolute;
  top: 493px;     
  left: 906px;
  width: 20px;
  height: 20px;
  z-index: 1;
}
.imgSudáfrica{
  position: absolute;
  top: 543px;     
  left: 907px;
  width: 20px;
  height: 20px;
  z-index: 1;
}
.imgAustralia{
  position: absolute;
  top: 513px;     
  left: 1156px;
  width: 20px;
  height: 20px;
  z-index: 1;
}
.imgGranbretaña{
  position: absolute;
  top: 343px;     
  left: 721px;
  width: 15px;
  height: 15px;
  z-index: 1;
}
.imgEspaña{
  position: absolute;
  top: 414px;     
  left: 711px;
  width: 15px;
  height: 15px;
  z-index: 1;
}
.imgFrancia{
  position: absolute;
  top: 378px;     
  left: 781px;
  width: 15px;
  height: 15px;
  z-index: 1;
}
.imgAlemania{
  position: absolute;
  top: 360px;     
  left: 837px;
  width: 15px;
  height: 15px;
  z-index: 1;
}
.imgItalia{
  position: absolute;
  top: 411px;     
  left: 846px;
  width: 15px;
  height: 15px;
  z-index: 1;
}
.imgRusia{
  position: absolute;
  top: 306px;     
  left: 904px;
  width: 30px;
  height: 30px;
  z-index: 1;
}
.imgJapón{
  position: absolute;
  top: 263px;     
  left: 1167px;
  width: 15px;
  height: 15px;
  z-index: 1;
}
.imgChina{
  position: absolute;
  top: 322px;     
  left: 1102px;
  width: 40px;
  height: 40px;
  z-index: 1;
}
.imgIndia{
  position: absolute;
  top: 393px;     
  left: 1096px;
  width: 20px;
  height: 20px;
  z-index: 1;
}
.imgArmenia{
  position: absolute;
  top: 423px;     
  left: 996px;
  width: 20px;
  height: 20px;
  z-index: 1;
}
.siguiente{  border-radius: 8px;
  border-color: #3A7B22;
  margin-top: 490px;
  margin-left: 1250px;
}