body {
   
   
     background-color: #012F1C;
}


h1{color: red;}
.Farme{
    width: 1355px;
    height: 670px;
    margin-left: -10px;
    margin-top: -10px;
  }
  header{margin-top: -650px;
    margin-left: 50px; }
.Canadá {
  position: absolute;
  top: 230px;     
  left: 260px;
  background-color: #D89A61;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 5px 10px;
  cursor: pointer;
}


.USA {
  position: absolute;
  top: 350px;     
  left: 269px;
  background-color: transparent;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 4px 8px;
  cursor: pointer;
  width: 20px;      
  height: 25px;       
}


.México {
  position: absolute;
  top: 385px;     
  left: 360px;
  background-color: #D89A61;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 800px;
  padding: 5px 10px;
  cursor: pointer;
   font-size: 10px; 
   transform: rotate(20deg);
}
.Argentina{
    position: absolute;
  top: 490px;     
  left: 520px;
  background-color: #6BB682;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 10px; 
    width: 10px;       
  height: 10px; 
    transform: rotate(90deg);
}
.Brasil{   position: absolute;
  top: 430px;     
  left: 600px;
  background-color: #6BB682;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 10px; 
    width: 10px;       
  height: 10px; 
 transform: rotate(90deg);}
 .Uruguay{    position: absolute;
  top: 475px;     
  left: 550px;
  background-color: #6BB682;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 10px; 
    width: 10px;       
  height: 10px; 
  position: absolute;}
  .Egipto{position: absolute;
  top: 455px;     
  left: 930px;
  background-color: #FDB456;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 10px; 
    width: 10px;       
  height: 10px; 
  position: absolute;}
  .Etiopía{position: absolute;
  top: 480px;     
  left: 900px;
  background-color: #FDB456;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 10px; 
    width: 10px;       
  height: 10px; 
  position: absolute;}
  .Sudáfrica{position: absolute;
  top: 520px;     
  left: 910px;
  background-color: #FDB456;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 10px; 
    width: 10px;       
  height: 10px; 
  position: absolute;}
.Australia{position: absolute;
  top: 500px;     
  left: 1150px;
  background-color: #F3B0E0;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 10px; 
    width: 10px;       
  height: 10px; 
  position: absolute;}
  .Granbretaña{position: absolute;
  top: 340px;     
  left: 710px;
  background-color: #EECA93;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 7px; 
    width: 7px;       
  height: 7px; 
  transform: rotate(340deg);
  position: absolute;}
  .España{position: absolute;
  top: 400px;     
  left: 700px;
  background-color: #EECA93;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 7px; 
    width: 7px;       
  height: 7px; 
  transform: rotate(340deg);
  position: absolute;}
  .Francia{position: absolute;
  top: 350px;     
  left: 770px;
  background-color: #EECA93;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 7px; 
    width: 7px;       
  height: 7px; 
  transform: rotate(340deg);
  position: absolute;}
  .Alemania{position: absolute;
  top: 350px;     
  left: 820px;
  background-color: #EECA93;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 7px; 
    width: 7px;       
  height: 7px; 
  position: absolute;}
  .Italia{position: absolute;
  top: 400px;     
  left: 840px;
  background-color: #EECA93;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 7px; 
    width: 7px;       
  height: 7px; 
  position: absolute;}
  .Rusia{position: absolute;
  top: 300px;     
  left: 920px;
  background-color: #EECA93;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 7px; 
    width: 7px;       
  height: 7px; 
  position: absolute;}
  .Japón{position: absolute;
  top: 255px;     
  left: 1170px;
  background-color: #CAA265;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 6px; 
    width: 6px;       
  height: 6px; 
    transform: rotate(46deg);
  position: absolute;}
  .China{position: absolute;
  top: 300px;     
  left: 1100px;
  background-color: #CAA265;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 20px; 
    width: 20px;       
  height: 20px; 
  position: absolute;}
  .India{position: absolute;
  top: 380px;     
  left: 1090px;
  background-color: #CAA265;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 10px; 
    width: 10px;       
  height: 10px; 
  position: absolute;}
  .Armenia{position: absolute;
  top: 400px;     
  left: 1000px;
  background-color: #CAA265;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 10px; 
    width: 10px;       
  height: 10px; 
  position: absolute;}
  .siguiente{  border-radius: 8px;
  border-color: #3A7B22;
margin-top: 490px;
margin-left: 1250px;
}
.imgUSA{
  margin-top: 262px;
  margin-left:263px;
  width: 28px;
  height: 28px;
}


